In [1]:
a = 123

In [2]:
a = -178

In [3]:
a = 0

In [4]:
a = 1.2

In [5]:
a = -3.45

# 복소수

In [6]:
a = 1+2j

In [7]:
a.real

1.0

In [8]:
a.imag

2.0

In [9]:
a.conjugate()

(1-2j)

In [10]:
abs(a)

2.23606797749979

# 사칙연산

In [11]:
a = 3
b = 4

In [12]:
a + b

7

In [13]:
a * b

12

In [14]:
a / b

0.75

In [15]:
a ** b

81

In [16]:
7 % 3

1

In [17]:
3 % 7

3

In [18]:
7 / 4

1.75

In [19]:
7 // 4

1

# 문자열 자료형

In [20]:
food = "Python's favorite food is perl"

In [21]:
food

"Python's favorite food is perl"

In [23]:
food = 'Python's favorite food is perl'

SyntaxError: invalid syntax (<ipython-input-23-4bf9be702834>, line 1)

In [24]:
say = '"Python is very easy." he says'

In [25]:
say

'"Python is very easy." he says'

In [26]:
food = 'Python\'s faverite food is perl'
say = "\"Python is very easy.\" he says."

In [27]:
food

"Python's faverite food is perl"

In [28]:
say

'"Python is very easy." he says.'

In [29]:
multiline = "Life is too short\nYou need python"

In [31]:
print(multiline)

Life is too short
You need python

In [32]:
multiline='''
    Life is too short
    You need python
    '''

In [33]:
print(multiline)

    Life is too short
    You need python

In [34]:
multiline = """
    Life is too short
    You need python
    """

In [35]:
print(multiline)

    Life is too short
    You need python

In [38]:
head = "Python"
tail = " is fun!"

In [39]:
head + tail

'Python is fun!'

In [40]:
a = "python"

In [41]:
a*2

'pythonpython'

In [43]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

# 문자열 인덱싱

In [44]:
a = "Life is too short, You need Python"

In [45]:
a[3]

'e'

In [46]:
a[0]

'L'

In [47]:
a[12]

's'

In [48]:
a[-1]

'n'

In [49]:
a[-0]

'L'

In [50]:
a[-2]

'o'

In [51]:
a[-5]

'y'

In [52]:
b = a[0] + a[1] + a[2] + a[3]

In [53]:
b

'Life'

# 문자열 슬라이싱

In [54]:
a[0:4]

'Life'

In [55]:
a[0:3]

'Lif'

In [56]:
a[0:5]

'Life '

In [57]:
a[0:2]

'Li'

In [58]:
a[5:7]

'is'

In [59]:
a[12:17]

'short'

In [60]:
a[19:]

'You need Python'

In [61]:
a[:17]

'Life is too short'

In [62]:
a[:]

'Life is too short, You need Python'

In [63]:
a[19:-7]

'You need'

In [64]:
a = "20010331Rainy"
date = a[:8]
weather = a[8:]

In [65]:
date

'20010331'

In [66]:
weather

'Rainy'

In [67]:
a = "20010331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

In [68]:
year

'2001'

In [69]:
day

'0331'

In [70]:
weather

'Rainy'

In [71]:
a = "Pithon"

In [72]:
a[1]

'i'

In [74]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [75]:
a[:1] + 'y' + a[2:]

'Python'

In [1]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [2]:
"I eat %s apples." % "five"

'I eat five apples.'

In [3]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [4]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [5]:
"I have %s apples" %3

'I have 3 apples'

In [6]:
"rate is %s" % 3.234

'rate is 3.234'

In [8]:
"Error is %d%%." % 98

'Error is 98%.'

In [9]:
"%10s" % "hi"

'        hi'

In [10]:
"%-10sjane." % 'hi'

'hi        jane.'

In [11]:
"%0.4f" % 3.42134234

'3.4213'

In [12]:
"%10.4f" % 3.42134234

'    3.4213'

In [13]:
a = "hobby"
a.count('b')

2

In [14]:
a = "Python is best choice"
a.find('b')

10

In [15]:
a.find('k')

-1

In [16]:
a = "Life is too short"
a.index('t')

8

In [17]:
a.index('k')

ValueError: substring not found

In [18]:
a=","
a.join('abcd')

'a,b,c,d'

In [19]:
a = "hi"
a.upper()

'HI'

In [20]:
a = "HI"
a.lower()

'hi'

In [22]:
a = " hi "
a.lstrip()

'hi '

In [23]:
a = " hi "
a.rstrip()

' hi'

In [24]:
a = " hi "
a.strip()

'hi'

In [25]:
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [26]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [27]:
a = "a:b:c:d"
a.split(':')

['a', 'b', 'c', 'd']

# 리스트 자료형

## 리스트 인덱싱

In [1]:
a = [1,2,3]

In [2]:
a

[1, 2, 3]

In [3]:
a[0] + a[1]

3

In [4]:
a[-1]

3

In [16]:
a = [1,2,3,['a','b','c']]

In [17]:
a[-1]

['a', 'b', 'c']

In [18]:
a[3]

['a', 'b', 'c']

In [19]:
a[-1][0]

'a'

In [20]:
a[-1][1]

'b'

In [21]:
a[-1][2]

'c'

In [22]:
a = [1,2,['a','b',['Life','is']]]

In [23]:
a[2][2][1]

'is'

In [24]:
a[2][2][0]

'Life'

## 리스트의 슬라이싱

In [25]:
a = [1,2,3,4,5]

In [26]:
a[0:3]

[1, 2, 3]

In [29]:
a = "12345"

In [30]:
a[0:2]

'12'

In [31]:
a = [1,2,3,4,5]
b = a[:2]
c = a[2:]

In [32]:
b

[1, 2]

In [33]:
c

[3, 4, 5]

In [34]:
a = [1,2,3,['a','b','c'],4,5]

In [35]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [36]:
a[3][:2]

['a', 'b']

In [37]:
a = [1,2,3]
b = [4,5,6]

In [38]:
a + b

[1, 2, 3, 4, 5, 6]

In [39]:
a = [1,2,3]

In [40]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [41]:
str(a[2]) + "hi"

'3hi'

In [42]:
a = [1,2,3]

In [43]:
a[2] = 4

In [44]:
a

[1, 2, 4]

In [45]:
a[1:2]

[2]

In [46]:
a[1:2] = ['a','b','c']

In [47]:
a

[1, 'a', 'b', 'c', 4]

In [48]:
a[1] = ['a','b','c']

In [49]:
a

[1, ['a', 'b', 'c'], 'b', 'c', 4]

In [50]:
a[1:4] = []

In [51]:
a

[1, 4]

In [52]:
del a[1]

In [53]:
a

[1]

In [54]:
a.append(4)

In [55]:
a

[1, 4]

In [56]:
a.append([5,6])

In [57]:
a

[1, 4, [5, 6]]

In [58]:
a = [1,5,9,2,3,7,4]

In [59]:
a.sort()

In [60]:
a

[1, 2, 3, 4, 5, 7, 9]

In [61]:
a = ['n','e','o','u','l']

In [62]:
a.sort()

In [63]:
a

['e', 'l', 'n', 'o', 'u']

In [64]:
a.reverse()

In [65]:
a

['u', 'o', 'n', 'l', 'e']

In [66]:
a = [1,2,3]

In [67]:
a.index(3)

2

In [68]:
a.index(2)

1

In [69]:
a.index(4)

ValueError: 4 is not in list

In [70]:
a = [1,2,3]

In [72]:
a.insert(2,5)

In [73]:
a

[1, 2, 5, 3]

In [75]:
a.insert(3,7)

In [76]:
a

[1, 2, 5, 7, 3]

In [77]:
a.remove(3)

In [78]:
a

[1, 2, 5, 7]

In [79]:
a.pop()

7

In [80]:
a

[1, 2, 5]

In [81]:
a.pop(1)

2

In [82]:
a

[1, 5]

In [85]:
a = [1,2,3,4,5,6,1,1,1]

In [86]:
a.count(1)

4

In [87]:
a = [1,2,3]

In [88]:
a.extend([4,5])

In [89]:
a

[1, 2, 3, 4, 5]

In [90]:
b = [6,7]

In [91]:
a.extend(b)

In [92]:
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 자료형

In [93]:
t1 = (1,2,'a','b')

In [94]:
t1[0]

1

In [95]:
t1[3]

'b'

In [96]:
t1[1:]

(2, 'a', 'b')

In [97]:
t2 = (3,4)

In [98]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [99]:
t2 *3

(3, 4, 3, 4, 3, 4)

## 딕셔너리 자료형

In [100]:
a = {1 : 'hi'}

In [102]:
a = {1:'a'}

In [103]:
a[2] = 'b'

In [104]:
a

{1: 'a', 2: 'b'}

In [105]:
a['name'] = 'suyoung'

In [106]:
a

{1: 'a', 2: 'b', 'name': 'suyoung'}

In [107]:
a[3] = [1,2,3]

In [108]:
a

{1: 'a', 2: 'b', 'name': 'suyoung', 3: [1, 2, 3]}

In [109]:
del a[1]

In [110]:
a

{2: 'b', 'name': 'suyoung', 3: [1, 2, 3]}

In [111]:
del a[3]

In [112]:
a

{2: 'b', 'name': 'suyoung'}

In [113]:
a['name']

'suyoung'

In [114]:
a[2]

'b'

In [115]:
grade = {'suyoung':100,'neoul':98}

In [116]:
grade['suyoung']

100

In [117]:
grade['neoul']

98

In [118]:
a = {'name':'suyoung', 'phone':'01023489868', 'birth':'1209'}

In [119]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [121]:
for k in a.keys():
    print(k)

name
phone
birth

In [122]:
list(a.keys())

['name', 'phone', 'birth']

In [124]:
a.values()

dict_values(['suyoung', '01023489868', '1209'])

In [125]:
list(a.values())

['suyoung', '01023489868', '1209']

In [126]:
a.items()

dict_items([('name', 'suyoung'), ('phone', '01023489868'), ('birth', '1209')])

In [127]:
list(a.items())

[('name', 'suyoung'), ('phone', '01023489868'), ('birth', '1209')]

In [128]:
a.clear()

In [129]:
a

{}

In [130]:
a = {'name':'suyoung', 'phone':'01023489868', 'birth':'1209'}

In [131]:
a.get('name')

'suyoung'

In [132]:
a.get('phone')

'01023489868'

In [133]:
a.get('birth')

'1209'

In [134]:
'name' in a

True

In [135]:
'email' in a

False

## 집합 자료형

In [136]:
s1 = set([1,2,3])

In [137]:
s1

{1, 2, 3}

In [140]:
s2 = set("Hello")

In [141]:
s2

{'H', 'e', 'l', 'o'}

In [142]:
l1 = list(s1)

In [143]:
l1

[1, 2, 3]

In [144]:
l1[0]

1

In [145]:
t1 = tuple(s2)

In [146]:
t1

('o', 'H', 'l', 'e')

In [147]:
t1[0]

'o'

In [148]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [149]:
s1 & s2

{4, 5, 6}

In [150]:
s1.intersection(s2)

{4, 5, 6}

In [151]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [152]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [153]:
s1 - s2

{1, 2, 3}

In [154]:
s1.difference(s2)

{1, 2, 3}

In [155]:
s2.difference(s1)

{7, 8, 9}

In [156]:
s1 = set([1,2,3])

In [157]:
s1.add(4)

In [158]:
s1

{1, 2, 3, 4}

In [159]:
s1.update([5,6,7])

In [160]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [161]:
s1.remove(2)

In [162]:
s1

{1, 3, 4, 5, 6, 7}

In [163]:
a = [1,2,3,4]

In [164]:
while a:
    a.pop()

In [165]:
a

[]

In [166]:
if []:
    print("True")
else:
    print("False")

False

In [167]:
if [1,2,3]:
    print("True")
else:
    print("False")

True

In [168]:
a = 3
b = 3

In [169]:
a is b

True

In [170]:
a = 3
b = 5
a, b = b, a

In [171]:
a

5

In [172]:
b

3

In [173]:
a = 3

In [174]:
b = 5

In [175]:
del(a)

In [176]:
del(b)

In [177]:
a

NameError: name 'a' is not defined

In [178]:
b

NameError: name 'b' is not defined

In [180]:
a = [1,2,3]
b = a
a[1] = 4

In [181]:
a

[1, 4, 3]

In [182]:
b

[1, 4, 3]

In [183]:
a = [1,2,3]

In [185]:
b = a[:]

In [186]:
a

[1, 2, 3]

In [187]:
b

[1, 2, 3]

In [189]:
a[1] = 4

In [190]:
a

[1, 4, 3]

In [192]:
from copy import copy
b= copy(a)

In [193]:
b

[1, 4, 3]

In [194]:
b is a

False

In [195]:
pin = "881120-1068234"

In [197]:
pin[:6]

'881120'

In [198]:
pin[7:14]

'1068234'

In [199]:
pin[7]

'1'

In [200]:
a = [1,3,5,4,2]

In [201]:
a.sort()

In [202]:
a

[1, 2, 3, 4, 5]

In [203]:
a.reverse()

In [204]:
a

[5, 4, 3, 2, 1]

In [205]:
a = ['Life','is','too','short']

In [209]:
result = " ".join(a)

In [210]:
result

'Life is too short'

In [211]:
a = (1,2,3)

In [216]:
a

(1, 2, 3)

In [220]:
result = a + (4,)

In [221]:
result

(1, 2, 3, 4)

In [222]:
a = {'A':90, 'B':80, 'C':70}

In [228]:
del a['C']

In [229]:
a

{'A': 90, 'B': 80}

In [232]:
a = {'A':90, 'B':80, 'C':70}

In [233]:
a['C']

70

In [234]:
a = {'A':90, 'B':80, 'C':70}

In [235]:
a['B']

80

In [237]:
del a['B']

In [238]:
a

{'A': 90, 'C': 70}

In [239]:
a = [1,1,1,2,2,3,3,3,4,4,5]

In [243]:
aSet = set(a)

In [244]:
aSet

{1, 2, 3, 4, 5}

In [247]:
b = list(aSet)

In [248]:
b

[1, 2, 3, 4, 5]

In [249]:
a = b = [1,2,3]

In [250]:
a[1] = 4

In [251]:
print(b)

[1, 4, 3]