In [1]:
i=0
while i < 8:
    print("Fighting")
    i = i+1

Fighting
Fighting
Fighting
Fighting
Fighting
Fighting
Fighting
Fighting

In [2]:
for i in range(8):
    print("Fighting")

Fighting
Fighting
Fighting
Fighting
Fighting
Fighting
Fighting
Fighting

In [3]:
import turtle as t
t.shape("turtle")

for x in range(100):
    t.forward(100)
    t.left(36)

In [1]:
import turtle as t
t.shape("turtle")

for x in range(36):
    t.circle(100)
    t.right(10)

In [1]:
test_list = ['one','two','three']

for i in test_list:
    print(i)

one
two
three

In [2]:
a = [(1,2),(3,4),(5,6)]

for (first, last) in a:
    print (first + last)

3
7
11

In [5]:
marks = [90,25,67,45,80]
number = 0

for mark in marks:
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [8]:
a = input()

Life is too short, you need python

In [9]:
a

'Life is too short, you need python'

In [10]:
number = input("숫자를 입력하세요: ")

숫자를 입력하세요: 1

In [11]:
print(number)

1

In [14]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [17]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [18]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number = number + 1
    if mark < 60 : continue
    print("%d번 학생 축하합니다. 합격입니다." % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [19]:
a = range(10)

In [20]:
a

range(0, 10)

In [21]:
a = range(1, 11)

In [22]:
a

range(1, 11)

In [23]:
sum = 0
for i in range(1, 11):
    sum = sum + i
    
print(sum)

55

In [24]:
marks = [90,25,67,45,80]
for number in range(len(marks)):
    if marks[number]<60: continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [26]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j)
    print(' ')

2
4
6
8
10
12
14
16
18

3
6
9
12
15
18
21
24
27

4
8
12
16
20
24
28
32
36

5
10
15
20
25
30
35
40
45

6
12
18
24
30
36
42
48
54

7
14
21
28
35
42
49
56
63

8
16
24
32
40
48
56
64
72

9
18
27
36
45
54
63
72
81

In [27]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]

In [28]:
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [29]:
result = [num * 3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [32]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]