In [1]:
def sum(a, b):
    return a + b

In [2]:
a = 3
b = 4
c = sum(a,b)
print(c)

7

In [3]:
def sum(a, b):
    result = a + b
    return result

In [4]:
a = sum(3, 4)
print(a)

7

In [5]:
def say():
    return 'Hi'

In [6]:
a = say()
print(a)

Hi

In [7]:
def sum(a, b):
    print("%d, %d의 합은 %d입니다." %(a, b, a+b))

In [8]:
sum(3, 4)

3, 4의 합은 7입니다.

In [10]:
a = sum(3, 4)

3, 4의 합은 7입니다.

In [11]:
print(a)

None

In [12]:
a = sum(3, 4)

3, 4의 합은 7입니다.

In [13]:
a = sum(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [14]:
def say():
    print('Hi')

In [15]:
say()

Hi

In [16]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

In [17]:
result = sum_many(1,2,3)
print(result)

6

In [19]:
result = sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [21]:
def sum_mul(choice, *args):
    if choice == "sum":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result = result * i
    return result

In [22]:
result = sum_mul('sum', 1,2,3,4,5)
print(result)

15

In [23]:
result = sum_mul('mul', 1,2,3,4,5)
print(result)

120

In [1]:
def sum_and_mul(a,b):
    return a+b, a*b

In [3]:
result = sum_and_mul(3,4)
print(result)

(7, 12)

In [5]:
sum, mul = sum_and_mul(3,4)

In [6]:
print(sum,mul)

7 12

In [7]:
def sum_and_mul(a,b):
    return a+b
    return a*b

In [8]:
result = sum_and_mul(2,3)
print(result)

5

In [9]:
def sum_and_mul(a,b):
    return a+b

In [11]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나이는 %d살입니다." % old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [27]:
say_myself("송중기", 33, "")

나의 이름은 송중기입니다.
나이는 33살입니다.
남자입니다.

In [13]:
say_myself("김수영", 29, False)

나의 이름은 김수영입니다.
나이는 29살입니다.
여자입니다.

In [20]:
a = 1
def vartest(a):
    a = a + 1
    
vartest(a)
print(a)

1

In [19]:
print(a)

1

In [21]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [22]:
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2