In [1]:
"I eat {0} apples" . format(3)

'I eat 3 apples'

In [2]:
"I eat {0} apples" .format("five")

'I eat five apples'

In [3]:
number = 3

In [4]:
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [5]:
number = 10

In [6]:
day = "three"

In [7]:
"I ate {0} apples. so I was sick for {1} days." .format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [8]:
"I ate {number} apples. so I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [9]:
"I ate {0} apples. so I was sick for {day} days." .format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [10]:
"{0:<10}" .format("hi")

'hi        '

In [11]:
"{0:>10}".format("hi")

'        hi'

In [12]:
"{0:^10}" .format("hi")

'    hi    '

In [13]:
"{0:=^10}" .format("hi")

'====hi===='

In [14]:
"{0:!<10}" .format("hi")

'hi!!!!!!!!'

In [15]:
y = 3.42134234

In [16]:
"{0:0.4f}".format(y)

'3.4213'

In [17]:
"{0:10.4f}".format(y)

'    3.4213'

In [18]:
"{{and}}".format()

'{and}'

In [19]:
a = [1,2,3]

In [20]:
a

[1, 2, 3]

In [21]:
a[0]

1

In [22]:
a[0] + a[2]

4

In [23]:
a[-1]

3

In [24]:
a = [1,2,3,['a','b','c']]

In [25]:
a[0]

1

In [26]:
a[-1]

['a', 'b', 'c']

In [27]:
a[3]

['a', 'b', 'c']

In [28]:
a[-1][0]

'a'

In [29]:
a[-1][1]

'b'

In [30]:
a[-1][2]

'c'

In [31]:
dic = {'name':'pay','phone':'011999332','birth':'1118'}

In [32]:
name

NameError: name 'name' is not defined

In [33]:
print(name)

NameError: name 'name' is not defined

In [34]:
a = {1:'a'}

In [35]:
a[2] = 'b'

In [36]:
a

{1: 'a', 2: 'b'}

In [37]:
a['name'] = 'pey'

In [38]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [39]:
a[3] = [1,2,3]

In [40]:
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [41]:
del a[1]

In [42]:
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [43]:
grade = {'pey':10, 'julliet':99}

In [44]:
grade['pey']

10

In [45]:
grade['julliet']

99

In [46]:
a = [1:'a', 2:'b']

SyntaxError: invalid syntax (<ipython-input-46-0ddb21f004d4>, line 1)

In [47]:
a = {1:'a', 2:'b'}

In [48]:
a[1]

'a'

In [49]:
a[2]

'b'

In [50]:
a = {'a'=1, 'b'=2}

SyntaxError: invalid syntax (<ipython-input-50-ed4a89b15e9f>, line 1)

In [51]:
a = {'a':1, 'b':2}

In [52]:
a['a']

1

In [53]:
a['b']

2

In [54]:
dic = {'name':'pey', 'phone':'01092859868', 'birth':'1118'}

In [55]:
dic['name']

'pey'

In [56]:
dic['phone']

'01092859868'

In [57]:
dic['birth']

'1118'

In [58]:
a = {1:'a', 1:'b'}

In [59]:
a

{1: 'b'}

In [60]:
a = {'name':'pey', 'phone':'01092859868', 'birth':'1118' }

In [61]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [62]:
for k in a. keys():
    print(k)

name
phone
birth

In [63]:
list(a.keys())

['name', 'phone', 'birth']

In [64]:
a.values()

dict_values(['pey', '01092859868', '1118'])

In [65]:
a.items()

dict_items([('name', 'pey'), ('phone', '01092859868'), ('birth', '1118')])

In [66]:
a.clear()

In [67]:
a

{}

In [68]:
a = {'name':'pey', 'phone':'01092859868', 'birth':'1118' }

In [69]:
a.get('name')

'pey'

In [70]:
a.get('phone')

'01092859868'

In [71]:
a.get('nokey')

In [72]:
a['nokey']

KeyError: 'nokey'

In [73]:
g.get('foo','bar')

NameError: name 'g' is not defined

In [74]:
a.get('foo','bar')

'bar'

In [75]:
a = {'name':'pey', 'phone':'01092859868', 'birth':'1118' }

In [76]:
'name' in a

True

In [77]:
'email' in a

False

In [78]:
s1 = set([1,2,3])

In [79]:
s1

{1, 2, 3}

In [80]:
s2 = set("Hello")

In [81]:
s2

{'H', 'e', 'l', 'o'}

In [82]:
s2

{'H', 'e', 'l', 'o'}

In [83]:
s1 = set([1,2,3])

In [84]:
l1 = list(s1)

In [85]:
l1

[1, 2, 3]

In [86]:
l1(0)

TypeError: 'list' object is not callable

In [87]:
l1[0]

1

In [88]:
t1 = tuple(s1)

In [89]:
t1

(1, 2, 3)

In [90]:
t1[0]

1

In [91]:
s1 = set([1,2,3,4,5,6])

In [92]:
s2 = set([4,5,6,7,8,9])

In [93]:
s1 & s2

{4, 5, 6}

In [94]:
s1.intersection(s2)

{4, 5, 6}

In [95]:
s1

{1, 2, 3, 4, 5, 6}

In [96]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [97]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
s1 - s2

{1, 2, 3}

In [99]:
s2 - s1

{7, 8, 9}

In [100]:
s1.difference(s2)

{1, 2, 3}

In [101]:
s2.difference(s1)

{7, 8, 9}

In [102]:
s1 = set([1,2,3])

In [103]:
s1.add(4)

In [104]:
s1

{1, 2, 3, 4}

In [105]:
s1 = set([1,2,3])

In [106]:
s1.update([4,5,6])

In [107]:
s1

{1, 2, 3, 4, 5, 6}

In [108]:
s1 = set([1,2,3])

In [109]:
s1.remove(2)

In [110]:
s1

{1, 3}

In [111]:
a = [1,2,3,4]

In [113]:
while a:
    a.pop()

In [117]:
if[]:
    print("True")
else:
        print("False")

False

In [116]:
if[1,2,3]:
    print("True")
else:
        print("False")

True

In [118]:
a = 1

In [119]:
b = "python"

In [120]:
c = [1,2,3]

In [121]:
a=3

In [122]:
b=3

In [123]:
a is b

True

In [124]:
import sys

In [126]:
sys.getrefcount(3)

525

In [127]:
a = 3